* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #12002f;
  color: white;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.logo {
  width: 45px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 1;
}

.language {
  border: 1px solid white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}



.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  min-height: 80vh;
}

.hero-left {
  max-width: 50%;
}

.hero-left h1 {
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-left span {
  color: #ff9f1c;
}

.hero-left p {
  color: #bbb;
  margin-bottom: 30px;
  max-width: 450px;
}



.explore-btn {
  background: #ff9f1c;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.explore-btn:hover {
  background: #ffc15e;
}



.cards {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.card {
  background: #1f004d;
  border: 1px solid #2f0a66;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 200px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #2a0066;
}

.coin-img {
  width: 40px;
}



.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 550px;
}
